body{
	overflow: hidden;
}

.fifteen_container {
	margin-left: 200px;
	margin-right: 0;
	margin-top: 45px;
	display: flex;
	width: 810px;
	height:810px;
	background-color: #888888;
	padding:25px;
	flex-wrap: wrap;
	justify-content:center;
	float: left;
}
/* flex-contentここから */
.item{
	height:200px;
	width:200px;
	align-items: center;
	position: relative;
}

.item0{
	border-top:solid 2px;
	border-left:solid 2px;
	border-bottom:solid 2px;
}
.item1{
	border-top:solid 2px;
	border-left:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item2{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item3{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}

.item4{
	border-left:solid 2px;
}
.item5{
	border-left:solid 2px;
	border-right:solid 2px;
}
.item6{
	border-right:solid 2px;
}
.item7{
	border-right:solid 2px;
}

.item8{
	border-top:solid 2px;
	border-left:solid 2px;
	border-right:solid 2px;
}
.item9{
	border-top:solid 2px;
	border-right:solid 2px;
}
.item10{
	border-top:solid 2px;
	border-right:solid 2px;
}
.item11{
	border-top:solid 2px;
	border-right:solid 2px;
}

.item12{
	border-top:solid 2px;
	border-left:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item13{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item14{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item15{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
/* flex-contentここまで */

/* imagesここから */
.image{
	width: 100%;
	height: 100%;
	background-image:url("../images/無題_16.png"); 
	background-size:806px 806px;
	position: absolute;
	z-index: 10;
}
/*
	background-position-x:右から;
	background-position-y:上から;
*/
.image0{
	background-position-x:806px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}
.image1{
	background-position-x:604px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}
.image2{
	background-position-x:402px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}
.image3{
	background-position-x:200px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}

.image4{
	background-position-x:806px;
	background-position-y:604px;
	top:0px;
	right: 0px;
}

.image5{
	background-position-x:604px;
	background-position-y:604px;
	top:0px;
	right: 0px;
}

.image6{
	background-position-x:402px;
	background-position-y:604px;
	top:0px;
	right: 0px;
}

.image7{
	background-position-x:200px;
	background-position-y:604px;
	top:0px;
	right: 0px;
}

.image8{
	background-position-x:806px;
	background-position-y:402px;
	top:0px;
	right: 0px;
}

.image9{
	background-position-x:604px;
	background-position-y:402px;
	top:0px;
	right: 0px;
}

.image10{
	background-position-x:402px;
	background-position-y:402px;
	top:0px;
	right: 0px;
}

.image11{
	background-position-x:200px;
	background-position-y:402px;
	top:0px;
	right: 0px;
}

.image12{
	background-position-x:806px;
	background-position-y:200px;
	top:0px;
	right: 0px;
}

.image13{
	background-position-x:604px;
	background-position-y:200px;
	top:0px;
	right: 0px;
}

.image14{
	background-position-x:402px;
	background-position-y:200px;
	top:0px;
	right: 0px;
}

.image15{
	background-position-x:200px;
	background-position-y:200px;
	top:0px;
	right: 0px;
	z-index: -1;
}

/* imagesここまで */

.answer_box{
	float:right;
	height:256px;
	width: 256px;
	margin-right: 300px;
	margin-top: 164px;
	background-size:256px 256px;
	background-image:url("../images/無題_16.png"); 
}

#crack{
	height:200px;
	width:200px;
	background-color: #888888;
	position: relative;
	z-index:400;
	overflow: hidden;
}

.hahen{
	position: absolute;
	top:50%;
	left:50%;
	width: 0;
	height: 0;
	float: left;
	transform-origin: 50% 50%;
	z-index: -1;
}

.hahen_1{
	border: 20px solid transparent;
	border-bottom: hidden;
	border-top: 10px solid #888888;
	top:0;
	left:0;
	border-bottom: hidden;
}

.hahen_2{
	border: 10px solid transparent;
	border-top: 20px solid #888888;
	border-bottom: hidden;
	top:0;
	left:40px;
}

.hahen_3{
	border: 5px solid transparent;
	border-top: 10px solid #888888;
	border-bottom: hidden;
	top:80px;
	left:60px;
}

.hahen_4{
	border: 20px solid transparent;
	border-top: 10px solid #888888;
	border-bottom: hidden;
	top:0;
	left:70px;
}

.hahen_5{
	border: 15px solid transparent;
	border-top: 13px solid #888888;
	border-right: 2px;
	border-bottom: hidden;
	top:80px;
	left:110px;
}

.hahen_6{
	border: 3px solid transparent;
	border-top: 20px solid #888888;
	border-bottom: hidden;
	top:0;
	left:125px;
}

.hahen_7{
	border: 6px solid transparent;
	border-top: 8px solid #888888;
	border-left: 9px;
	border-bottom: hidden;
	top:80px;
	left:128px;
}

.hahen_8{
	border: 11px solid transparent;
	border-bottom: 8px solid #888888;
	border-right: 19px;
	border-top: hidden;
	top:0;
	left:134px;
}

.hahen_9{
	border: 13px solid transparent;
	border-top: 11px solid #888888;
	border-right: 12px;
	border-bottom: hidden;
	top:0;
	left:146px;
}

.hahen_10{
	border: 10px solid transparent;
	border-top: 5px solid #888888;
	border-right: 3px;
	border-bottom: hidden;
	top:0;
	left:162px;
}

.hahen_11{
	border: 10px solid transparent;
	border-top: 5px solid #888888;
	border-right: 3px;
	border-bottom: hidden;
	top:0;
	left:182px;
}

.hahen_12{
	border: 6px solid transparent;
	border-top: 15px solid #888888;
	border-right: 13px;
	border-bottom: hidden;
	top:40px;
	left:0;
}

.hahen_13{
	border: 9px solid transparent;
	border-top: 11px solid #888888;
	border-right: 16px;
	border-bottom: hidden;
	top:40px;
	left:6px;
}

.hahen_14{
	border: 19px solid transparent;
	border-top: 20px solid #888888;
	border-right: 24px;
	border-bottom: hidden;
	top:80px;
	left:15px;
}

.hahen_15{
	border: 26px solid transparent;
	border-top: 24px solid #888888;
	border-right: 13px;
	border-bottom: hidden;
	top:40px;
	left:34px;
}

.hahen_16{
	border: 36px solid transparent;
	border-top: 28px solid #888888;
	border-right: 43px;
	border-bottom: hidden;
	top:40px;
	left:60px;
}

.hahen_17{
	border: 4px solid transparent;
	border-top: 6px solid #888888;
	border-left: 11px;
	border-bottom: hidden;
	top:40px;
	left:60px;
}

.hahen_18{
	border: 3px solid transparent;
	border-top: 3px solid #888888;
	border-left: 11px;
	border-bottom: hidden;
	top:40px;
	left:64px;
}

.hahen_19{
	border: 14px solid transparent;
	border-top: 36px solid #888888;
	border-left: 11px;
	border-bottom: hidden;
	top:80px;
	left:67px;
}

.hahen_20{
	border: 4px solid transparent;
	border-top: 6px solid #888888;
	border-left: 2px;
	border-bottom: hidden;
	top:40px;
	left:81px;
}

.hahen_21{
	border: 12px solid transparent;
	border-top: 2px solid #888888;
	border-left: 23px;
	border-bottom: hidden;
	top:40px;
	left:85px;
}

.hahen_22{
	border: 8px solid transparent;
	border-top: 6px solid #888888;
	border-right: 11px;
	border-bottom: hidden;
	top:40px;
	left:97px;
}

.hahen_23{
	border: 10px solid transparent;
	border-top: 14px solid #888888;
	border-left: 8px;
	border-bottom: hidden;
	top:40px;
	left:105px;
}

.hahen_24{
	border: 7px solid transparent;
	border-top: 9px solid #888888;
	border-right: 16px;
	border-bottom: hidden;
	top:40px;
	left:115px;
}

.hahen_25{
	border: 33px solid transparent;
	border-top: 24px solid #888888;
	border-left: 18px;
	border-bottom: hidden;
	top:40px;
	left:122px;
}
/* 特殊破片ここから */
.hahen_26{
	border: 14px solid transparent;
	border-top: 18px solid #888888;
	border-right: 22px;
	border-bottom: hidden;
	-webkit-box-reflect: below -14px;
	top:40px;
	left:155px;
}

.hahen_27{
	border: 11px solid transparent;
	border-top: 16px solid #888888;
	border-right: 23px;
	border-bottom: hidden;
	-webkit-box-reflect: below -16px;
	top:40px;
	left:170px;
}

.hahen_28{
	border: 24px solid transparent;
	border-top: 20px solid #888888;
	border-bottom: hidden;
	-webkit-box-reflect: below -24px;
	top:120px;
	left:0;
}

.hahen_29{
	border: 19px solid transparent;
	border-top: 11px solid #888888;
	border-right: 43px;
	border-bottom: hidden;
	top:120px;
	left:55px;
}

.hahen_30{
	border: 4px solid transparent;
	border-top: 1px solid #888888;
	border-right: 2px;
	border-bottom: hidden;
	top:120px;
	left:80px;
}

.hahen_31{
	border: 6px solid transparent;
	border-top: 6px solid #888888;
	border-right: 3px;
	border-bottom: hidden;
	top:120px;
	left:120px;
}

.hahen_32{
	border: 5px solid transparent;
	border-top: 44px solid #888888;
	border-right: 18px;
	border-bottom: hidden;
	top:120px;
	left:160px;
}

.hahen_33{
	border: 16px solid transparent;
	border-top: 3px solid #888888;
	border-right: 4px;
	border-bottom: hidden;
	top:120px;
	left:90px;
}
/* 特殊破片ここまで */

.hahen_34{
	border: 20px solid transparent;
	border-bottom: hidden;
	border-top: 10px solid #888888;
	top:180px;
	left:160px;
	border-bottom: hidden;
}

.hahen_35{
	border: 10px solid transparent;
	border-top: 20px solid #888888;
	border-bottom: hidden;
	top:160px;
	left:160px;
}

.hahen_36{
	border: 5px solid transparent;
	border-top: 10px solid #888888;
	border-bottom: hidden;
	top:120px;
	left:160px;
}

.hahen_37{
	border: 20px solid transparent;
	border-top: 10px solid #888888;
	border-bottom: hidden;
	top:120px;
	left:80px;
}

.hahen_38{
	border: 15px solid transparent;
	border-top: 13px solid #888888;
	border-right: 2px;
	border-bottom: hidden;
	top:140px;
	left:110px;
}

.hahen_39{
	border: 3px solid transparent;
	border-top: 20px solid #888888;
	border-bottom: hidden;
	top:160px;
	left:125px;
}

.hahen_40{
	border: 6px solid transparent;
	border-top: 8px solid #888888;
	border-left: 9px;
	border-bottom: hidden;
	top:180px;
	left:128px;
}

.hahen_41{
	border: 11px solid transparent;
	border-bottom: 8px solid #888888;
	border-right: 19px;
	border-top: hidden;
	top:150px;
	left:134px;
}

.hahen_42{
	border: 13px solid transparent;
	border-top: 11px solid #888888;
	border-right: 12px;
	border-bottom: hidden;
	top:140px;
	left:146px;
}

.hahen_43{
	border: 10px solid transparent;
	border-top: 5px solid #888888;
	border-right: 3px;
	border-bottom: hidden;
	top:152px;
	left:162px;
}

.hahen_44{
	border: 10px solid transparent;
	border-top: 5px solid #888888;
	border-right: 3px;
	border-bottom: hidden;
	top:130px;
	left:182px;
}

.hahen_45{
	border: 6px solid transparent;
	border-top: 15px solid #888888;
	border-right: 13px;
	border-bottom: hidden;
	top:140px;
	left:0;
}

.hahen_46{
	border: 9px solid transparent;
	border-top: 11px solid #888888;
	border-right: 16px;
	border-bottom: hidden;
	top:140px;
	left:6px;
}

.hahen_47{
	border: 19px solid transparent;
	border-top: 20px solid #888888;
	border-right: 24px;
	border-bottom: hidden;
	top:170px;
	left:15px;
}

.hahen_48{
	border: 26px solid transparent;
	border-top: 24px solid #888888;
	border-right: 13px;
	border-bottom: hidden;
	top:160px;
	left:34px;
}

.hahen_49{
	border: 36px solid transparent;
	border-top: 28px solid #888888;
	border-right: 43px;
	border-bottom: hidden;
	top:160px;
	left:60px;
}

.hahen_50{
	border: 4px solid transparent;
	border-top: 6px solid #888888;
	border-left: 11px;
	border-bottom: hidden;
	top:140px;
	left:60px;
}

.hahen_51{
	border: 3px solid transparent;
	border-top: 3px solid #888888;
	border-left: 11px;
	border-bottom: hidden;
	top:140px;
	left:64px;
}

.hahen_52{
	border: 14px solid transparent;
	border-top: 36px solid #888888;
	border-left: 11px;
	border-bottom: hidden;
	top:160px;
	left:67px;
}

.hahen_53{
	border: 4px solid transparent;
	border-top: 6px solid #888888;
	border-left: 2px;
	border-bottom: hidden;
	top:140px;
	left:81px;
}

.hahen_54{
	border: 12px solid transparent;
	border-top: 2px solid #888888;
	border-left: 23px;
	border-bottom: hidden;
	top:140px;
	left:85px;
}

.hahen_55{
	border: 8px solid transparent;
	border-top: 6px solid #888888;
	border-right: 11px;
	border-bottom: hidden;
	top:140px;
	left:97px;
}

.hahen_56{
	border: 10px solid transparent;
	border-top: 14px solid #888888;
	border-left: 8px;
	border-bottom: hidden;
	top:140px;
	left:105px;
}

.hahen_57{
	border: 7px solid transparent;
	border-top: 9px solid #888888;
	border-right: 16px;
	border-bottom: hidden;
	top:140px;
	left:115px;
}

.hahen_58{
	border: 33px solid transparent;
	border-top: 24px solid #888888;
	border-left: 18px;
	border-bottom: hidden;
	top:140px;
	left:122px;
}
/* 特殊破片ここから */
.hahen_59{
	border: 14px solid transparent;
	border-top: 18px solid #888888;
	border-right: 22px;
	border-bottom: hidden;
	-webkit-box-reflect: below -14px;
	top:140px;
	left:155px;
}

.hahen_60{
	border: 11px solid transparent;
	border-top: 16px solid #888888;
	border-right: 23px;
	border-bottom: hidden;
	-webkit-box-reflect: below -16px;
	top:140px;
	left:170px;
}

.hahen_61{
	border: 24px solid transparent;
	border-top: 20px solid #888888;
	border-bottom: hidden;
	-webkit-box-reflect: below -24px;
	top:170px;
	left:0;
}

.hahen_62{
	border: 19px solid transparent;
	border-top: 11px solid #888888;
	border-right: 43px;
	border-bottom: hidden;
	top:160px;
	left:55px;
}

.hahen_63{
	border: 4px solid transparent;
	border-top: 1px solid #888888;
	border-right: 2px;
	border-bottom: hidden;
	top:160px;
	left:80px;
}

.hahen_64{
	border: 6px solid transparent;
	border-top: 6px solid #888888;
	border-right: 3px;
	border-bottom: hidden;
	top:160px;
	left:120px;
}

.hahen_65{
	border: 5px solid transparent;
	border-top: 44px solid #888888;
	border-right: 18px;
	border-bottom: hidden;
	top:160px;
	left:160px;
}

.hahen_66{
	border: 16px solid transparent;
	border-top: 3px solid #888888;
	border-right: 4px;
	border-bottom: hidden;
	top:170px;
	left:90px;
}

/* 特殊破片ここまで */
