.nine_container {
	margin: auto;
	margin-top: 45px;
	display: flex;
	width: 810px;
	height:810px;
	background-color: #888888;
	padding:25px;
	flex-wrap: wrap;
	justify-content:center;
}
/* flex-contentここから */
.item{
	height:200px;
	width:200px;
	align-items: center;
	position: relative;
}

.item1{
	border-top:solid 2px;
	border-left:solid 2px;
	border-bottom:solid 2px;
}
.item2{
	border-top:solid 2px;
	border-left:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item3{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item4{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}

.item5{
	border-left:solid 2px;
}
.item6{
	border-left:solid 2px;
	border-right:solid 2px;
}
.item7{
	border-right:solid 2px;
}
.item8{
	border-right:solid 2px;
}

.item9{
	border-top:solid 2px;
	border-left:solid 2px;
	border-right:solid 2px;
}
.item10{
	border-top:solid 2px;
	border-right:solid 2px;
}
.item11{
	border-top:solid 2px;
	border-right:solid 2px;
}
.item12{
	border-top:solid 2px;
	border-right:solid 2px;
}

.item13{
	border-top:solid 2px;
	border-left:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item14{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item15{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
.item16{
	border-top:solid 2px;
	border-right:solid 2px;
	border-bottom:solid 2px;
}
/* flex-contentここまで */

/* imagesここから */
.image{
	width: 100%;
	height: 100%;
	background-image:url("../images/無題_16.png"); 
	position: absolute;
	z-index: 10;
}
/*
	background-position-x:右から;
	background-position-y:上から;
*/
.image1{
	background-position-x:800px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}
.image2{
	background-position-x:600px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}
.image3{
	background-position-x:400px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}
.image4{
	background-position-x:200px;
	background-position-y:0px;
	top:0px;
	right: 0px;
}

.image5{
	background-position-x:800px;
	background-position-y:600px;
	top:0px;
	right: 0px;
}

.image6{
	background-position-x:600px;
	background-position-y:600px;
	top:0px;
	right: 0px;
}

.image7{
	background-position-x:400px;
	background-position-y:600px;
	top:0px;
	right: 0px;
}

.image8{
	background-position-x:200px;
	background-position-y:600px;
	top:0px;
	right: 0px;
}

.image9{
	background-position-x:800px;
	background-position-y:400px;
	top:0px;
	right: 0px;
}

.image10{
	background-position-x:600px;
	background-position-y:400px;
	top:0px;
	right: 0px;
}

.image11{
	background-position-x:400px;
	background-position-y:400px;
	top:0px;
	right: 0px;
}

.image12{
	background-position-x:200px;
	background-position-y:400px;
	top:0px;
	right: 0px;
}

.image13{
	background-position-x:800px;
	background-position-y:200px;
	top:0px;
	right: 0px;
}

.image14{
	background-position-x:600px;
	background-position-y:200px;
	top:0px;
	right: 0px;
}

.image15{
	background-position-x:400px;
	background-position-y:200px;
	top:0px;
	right: 0px;
}

.image16{
	background-image: none;
	background-color: #888888;
	background-position-x:200px;
	background-position-y:200px;
	top:0px;
	right: 0px;
	z-index: -1;
}


/* imagesここまで */
